<%- include('partials/header') %>

<link rel="stylesheet" href="css/current-stat.css" />

<title>Smart Agricare | Get your crop detials</title>
</head>
<body>

    

<%- include('partials/footer') %>
