<%- include('partials/header') %>

<link rel="stylesheet" href="/css/current-stat.css" />

<title>Smart Agricare | Get your land stats</title>
</head>
<body>

<%- include('auth/partials/navbar') %>
    

<%- include('partials/footer') %>

</body>
</html>