<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- bootstrap css -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />

    <!-- icons for features -->
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <!-- custom CSS -->
    <link rel="stylesheet" href="css/style.css" />
    <title>Smart Agricare</title>
  </head>
  <body>
    <!-- Header -- section-1 -->
    <section id="header">
      <div class="container-fluid">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light">
          <a href="index.html" class="navbar-brand">
            <img src="images/logo.png" alt="project logo" class="logo" />
          </a>

          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#menu-collapse"
            aria-controls="menu-collapse"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="menu-collapse">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a href="#ease-of-use" class="nav-link">Why Smart Agricare?</a>
              </li>
              <li class="nav-item">
                <a href="#features" class="nav-link">Features</a>
              </li>
              <li class="nav-item">
                <a href="#footer" class="nav-link">Reachout to us!</a>
              </li>
            </ul>

            <button type="button" class="btn btn-dark log-in">Log in</button>
            <button type="button" class="btn btn-dark sign-up">Sign up</button>
          </div>
        </nav>
      </div>
    </section>

    <!-- Welcome text -- section-2-->
    <section id="welcome">
      <div class="container-fluid welcome">
        <h1 class="welcome-text">We celebrate the joy of agriculture!</h1>
      </div>
    </section>

    <!-- Ease of use etc -- section - 3 -->
    <section id="ease-of-use">
      <div class="container-fluid row">
        <div class="col-lg-4 ease-card">
          <span class="ease-span-icon">
            <i class="fas fa-check"></i>
          </span>
          <h3 class="ease-header">Easy to use</h3>
          <p class="ease-desc">
            The website is very easy to use.The complicated stuffs are all
            behind the scenes. Make the best decisions for the land with just
            few clicks!
          </p>
        </div>

        <div class="col-lg-4 ease-card">
          <span class="ease-span-icon">
            <i class="fas fa-hand-holding-water"></i>
          </span>
          <h3 class="ease-header">Water friendly</h3>
          <p class="ease-desc">
            The system can save lots of water. The watering to the land can be
            controlled by the farmer after analyzing the nature of the land and
            decides which part of the land needs more water.
          </p>
        </div>

        <div class="col-lg-4 ease-card">
          <span class="ease-span-icon">
            <i class="fas fa-heart"></i>
          </span>
          <h3 class="ease-header">User friendly</h3>
          <p class="ease-desc">
            Understand all the technical features of the land in a visuallying
            appeling way. Maximize your profit with our system by making better
            decisions.
          </p>
        </div>
      </div>
    </section>

    <!-- Features -- section-4 -->
    <section id="features">
      <p class="features-heading">Features provided</p>
      <p class="features-desc">
        OMG! We provide a lot of services that you can use to make the best use
        of our resources.
      </p>

      <div class="container-fluid row features-row">
        <div class="col-lg-4 features-card">
          <img src="images/field-layout.png" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Precision Irrigation</h5>
            <p class="card-text">
              Ooooooo...! A very carefully curated design to irrigate your field
              with minimum human effort!
            </p>
            <a href="#" class="btn btn-primary">Check it out!</a>
          </div>
        </div>

        <div class="col-lg-4 features-card">
          <img src="images/field-layout.png" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Crop suggestion</h5>
            <p class="card-text">
              Guess what!? It's an intelligent system that can sugggest you with
              the type of crops that can be grown on your field to get the best
              out of your feild.
            </p>
            <a href="#" class="btn btn-primary">Check it out!</a>
          </div>
        </div>

        <div class="col-lg-4 features-card">
          <img src="images/field-layout.png" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Fertilizer suggestion</h5>
            <p class="card-text">
              And again guess what!? It's an intelligent system that can
              sugggest you with the type of fertilizers to be used on your field
              just so you know... to maximize your yield.
            </p>
            <a href="#" class="btn btn-primary">Check it out!</a>
          </div>
        </div>
      </div>
    </section>

    <!-- snapshots -- section - 5 -->
    <section id="snapshots">
      <div
        id="carouselExampleInterval"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000">
            <h2 class="snapshot-text">
              Hi there! Gotta come up with some interesting text to add here so
              as to make this section look good!
            </h2>
            <img
              src="https://avatars.githubusercontent.com/u/81585814?v=4"
              class="user-img"
              alt="user description of product"
            />
            <em class="snapshot-user-name">Gokul Balaji, Mysuru</em>
          </div>

          <div class="carousel-item" data-bs-interval="2000">
            <h2 class="snapshot-text">
              This is just some random user feedback after using our product.
            </h2>
            <img
              src="https://avatars.githubusercontent.com/u/67362607?v=4"
              class="user-img"
              alt="user description of product"
            />
            <em class="snapshot-user-name">Prithviraj Vernekar, Belgaum</em>
          </div>

          <div class="carousel-item" data-bs-interval="2000">
            <h2 class="snapshot-text">
              We can add this part later after we get some users.
            </h2>
            <img
              src="https://avatars.githubusercontent.com/u/63251164?v=4"
              class="user-img"
              alt="user description of product"
            />
            <em class="snapshot-user-name">Harshini H J, T Narsipura</em>
          </div>

          <div class="carousel-item">
            <h2 class="snapshot-text">
              As of now, let it be here just to make it beautiful.
            </h2>
            <img
              src="https://avatars.githubusercontent.com/u/74169381?v=4"
              class="user-img"
              alt="user description of product"
            />
            <em class="snapshot-user-name">Koushik K P, Chikmagaluru</em>
          </div>
        </div>

        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleInterval"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>

        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleInterval"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </section>

    <!-- Footer -- section - n -->
    <section id="footer">
      <p class="footer-text">
        &copy 2022 Smart Agricare. All Rights Reserved | Designed by Nerds
      </p>
    </section>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
