<%- include('partials/header') %>

<link rel="stylesheet" href="/css/login-register.css" />

<title>Smart Agricare | Login</title>
</head>
<body>

<div class="container mt-5 login-section">
  <h1>Login</h1>
  <div class="row">

    <div class="col-sm-6 form">
      <div class="card">
        <div class="card-body">

          <form action="/login" method="POST" class="login-form">

            <% if (toRender.signinAgain) { %>
              <div class="form-group form-field">
                <p class="signin-again-text">
                  Password reset successful. Please sign in again to continue!
                </p>
              </div>
            <% } %>
            
            <% if (toRender.incorrectPwd) { %>
              <div class="form-group form-field error-on-submit">
                <p class="error-text">
                  Incorrect email and password combination!
                </p>
                <span class="span-close-btn">
                  &#10006;
                </span>
              </div>
            <% } %>
            
            <div class="form-group form-field">
              <label for="email">Email</label>
              <input type="email" 
              class="form-control email" 
              name="username" 
              placeholder="example@email.com" 
              title="Please enter a valid email id"
              required>
            </div>

            <div class="form-group form-field error hidden">
              <p class="error-text">
                No such user exists!
              </p>
            </div>

            <div class="form-group form-field">
              <label for="password">Password</label>
              <input type="password" 
              class="form-control password" 
              name="password" 
              placeholder="Password" 
              minlength="<%= toRender.pwMinLen %>"
              required >
            </div>
            
            <div class="form-group form-field">
              <a class="forgot-pass-text" href="/reset-password">
                Forgot your password?
              </a>
            </div>

            <button type="submit" class="btn btn-dark btn-submit">Login</button>

            <p class="form-btn-separator-text-p">or</p>

            <a href="/register">
              <button type="button" class="btn btn-dark">Signup</button>
            </a>

          </form>

        </div>
      </div>
    </div>

    <div class="col-sm-6 tagline-div">
      <h2 class="tagline">
        Gateway to simplified agriculture
      </h2>
    </div>

  </div>
</div>

<%- include('partials/footer') %>

<script src="/js/login.js"></script>

</body>
</html>