.login-section,
.register-section {
  margin: 0 6% 8% 6%;
}

.form {
  margin: 2% 0 0 0;
}

.form-field {
  margin: 0 0 2% 0;
}

.tagline-div {
  margin: 2% 0 0 0;
}

.form-btn-separator-text-p {
  display: inline;
  margin: 0 5px 0 5px;
}

.hidden {
  display: none;
}

.error-text {
  color: #ff0000;
  display: inline;
}

.error-on-submit {
  display: inline-block;
  padding: 5px 10px 5px 10px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  background-color: var(--bg-color);
  margin-bottom: 10px;
}

.span-close-btn {
  color: #808080;
  margin-left: 10px;
}

.span-close-btn:hover {
  cursor: pointer;
}