.login-section,
.register-section {
  margin: 0 6% 8% 6%;
}

.form {
  margin: 2% 0 0 0;
}

.form-field {
  margin: 0 0 2% 0;
}

.tagline-div {
  margin: 2% 0 0 0;
}

.form-btn-separator-text-p {
  display: inline;
  margin: 0 5px 0 5px;
}

.hidden {
  display: none;
}

.error-text {
  color: #ff0000;
}