@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

body {
  background-color: #f5f5f5;
  font-family: "Montserrat", sans-serif;
}

/* header section 1 */
/* log-in & sign-up --> buttons */
.log-in,
.sign-up {
  position: absolute;
}

.log-in {
  right: 200px;
}

.sign-up {
  right: 0;
}

#header {
  position: relative;
  padding: 2.7rem;
  background-color: #84dbf8;
  height: 180px;
}

.logo {
  border-radius: 20px 4px 20px 4px;
}

.navbar {
  font-size: 1.2rem;
  font-weight: 400;
}

.nav-item {
  padding-left: 70px;
  padding-right: 70px;
}
/* header section 1 */

/* welcome text section 2 */
.welcome {
  margin: 0;
  padding: 0;
  padding-top: 5%;
  background: url(../images/header.jpg) no-repeat;
  background-size: 100%;
  height: 600px;
}

.welcome-text {
  padding-top: 6%;
  font-size: 4rem;
  text-align: center;
}
/* welcome text section 2 */

/* ease of use section 3 */
#ease-of-use {
  background-color: #f5f5f5;
  /* height: 300px; */
  text-align: center;
  margin: 5%;
  padding: 50px;
}

.ease-card {
  background-color: #f5f5f5;
  text-align: center;
  padding: 10% 3% 10% 3%;
}

.ease-span-icon {
  font-size: 5rem;
  color: #75c9e6;
}

.ease-span-icon:hover {
  color: #4242f0;
}

/* .ease-desc{
  padding-right:20px;
  padding-left: 20px;
} */

/* ease of use section 3 */

/* features section 4 */
#features {
  padding: 3%;
  background-color: #dae0e2;
  text-align: center;
  padding-bottom: 10%;
}

.features-heading {
  font-size: 3rem;
  padding-top: 4%;
  font-weight: 600;
}

.features-desc {
  font-size: 1.2rem;
  margin-bottom: 6%;
}

.features-row {
  display: flex;
  justify-content: space-between;
}

.features-card {
  background-color: #dae0e2;
  border: none;
  text-align: center;
  padding: 0 5% 0 5%;
}

.card-title {
  font-weight: 600;
}
.card-text {
  color: #000000;
}

/* features section 4 */

/* snapshots section 5 */
#snapshots {
  text-align: center;
  background-color: #39a147;
  color: #fff;
  padding: 10% 0 10% 0;
}

.snapshot-text {
  font-size: 3rem;
  padding: 0 14% 0 14%;
}

.user-img {
  border-radius: 100%;
  width: 8%;
  margin: 20px;
}

/* snapshots section 5 */

/* footer section n */
#footer {
  margin: 3%;
  color: #000;
  text-align: center;
  height: 200px;
}

.footer-text {
  padding: 7% 0 0 0;
  font-size: 1.2rem;
}

/* footer section n */
