@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");

:root {
  /* font weights */
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;

  /* colors */
  --white: #ffffff;
  --black: #000000;

  --navbar-color: #84dbf8;
  --bg-color: #f5f5f5;

  /* ease of use span icon */
  --icon-color: #75c9e6;
  --icon-color-hover: #4242f0;

  /* features */
  --features-bg-color: #dae0e2;

  /* snapshots */
  --snapshot-bg-color: #39a147;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--bg-color);
}

/* header section 1 */

/* log-in & sign-up --> buttons */
.log-in,
.sign-up {
  position: absolute;
}

.log-in {
  right: 110px;
}

.sign-up {
  right: 0;
}

#header {
  position: relative;
  padding: 2.5rem;
  background-color: var(--navbar-color);
  height: 180px;
}

.logo {
  border-radius: 20px 4px 20px 4px;
}

.navbar {
  font-size: 1.2rem;
}

.nav-item {
  font-weight: var(--fw-500);
  padding-left: 50px;
  padding-right: 50px;
}
/* header section 1 */

/* welcome text section 2 */
.welcome {
  margin: 0;
  padding: 0;
  padding-top: 5%;
  background: url(../images/header.jpg) no-repeat;
  background-size: 100%;
  height: 600px;
}

.welcome-text {
  padding-top: 6%;
  font-size: 4rem;
  text-align: center;
  font-weight: var(--fw-600);
}
/* welcome text section 2 */

/* ease of use section 3 */
#ease-of-use {
  background-color: var(--bg-color);
  /* height: 300px; */
  text-align: center;
  margin: 5%;
  padding: 50px;
}

.ease-card {
  background-color: var(--bg-color);
  text-align: center;
  padding: 10% 3% 10% 3%;
}

.ease-span-icon {
  font-size: 5rem;
  color: var(--icon-color);
}

.ease-span-icon:hover {
  color: var(--icon-color-hover);
}

/* .ease-desc{
  padding-right:20px;
  padding-left: 20px;
} */

/* ease of use section 3 */

/* features section 4 */
#features {
  padding: 3%;
  background-color: var(--features-bg-color);
  text-align: center;
  padding-bottom: 10%;
}

.features-heading {
  font-size: 3rem;
  padding-top: 4%;
  font-weight: var(--fw-600);
}

.features-desc {
  font-size: 1.2rem;
  margin-bottom: 6%;
}

.features-row {
  display: flex;
  justify-content: space-between;
}

.features-card {
  background-color: var(--features-bg-color);
  border: none;
  text-align: center;
  padding: 0 5% 0 5%;
}

.card-title {
  font-weight: var(--fw-600);
}

.card-text {
  color: var(--black);
}

/* features section 4 */

/* snapshots section 5 */
#snapshots {
  text-align: center;
  background-color: var(--snapshot-bg-color);
  color: var(--white);
  padding: 10% 0 10% 0;
}

.snapshot-text {
  font-size: 3rem;
  padding: 0 14% 0 14%;
}

.user-img {
  border-radius: 100%;
  width: 8%;
  margin: 20px;
}

/* snapshots section 5 */

/* footer section n */
#footer {
  margin: 3%;
  color: var(--black);
  text-align: center;
  height: 200px;
}

.footer-text {
  padding: 7% 0 0 0;
  font-size: 1.2rem;
}

/* footer section n */
