<%- include('partials/header') %>

<link rel="stylesheet" href="css/products.css" />

<title>Smart Agricare | Precision Irrigation</title>
</head>
<body>

<h1 class="product-header">Precision Irrigation</h1>


<%- include('partials/footer') %>
