<%- include('partials/header') %>

<link rel="stylesheet" href="/css/products.css" />

<title>Smart Agricare | Fertilizer Suggestion</title>
</head>
<body>

<%- include('user/partials/navbar') %>

<h1 class="product-header">Fertilizer Suggestion</h1>

<div class="row container-main">



</div>

<%- include('partials/footer') %>

</body>
</html>